.grid{
    display: flex;
    flex-wrap: wrap;
    height: 560px;
    width: 560px;
    outline: 2px solid #302f2f;
}
  
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: #00800063;   
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: #8d8df6;
}

.power-pellet {
    background-color: #156715;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}


.pac-man:after {
    content: url("./pacman.png");
}

.ghost-lair{
    background-color: #ff50ad;
}